*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #e5e5e5;
}

.container {
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
  padding: 0 36px;
}

@media screen and (max-width: 840px) {
  .container {
    padding: 0 16px;
  }
}
